var config = {};

// base directory for saving scrape artifacts
config.baseDir = 'downloads/';

// name  : common name of the site to scrape; used for save location 
// url   : URL of the site to scrape
// action: disabled -> do nothing, update -> only save new posts, refresh -> overwrite all
config.sites = [
	// { name: '', url: '', action: ''}
];

config.blogger = {
	// time in seconds to wait between page requests for rate limiting
	pageDelay: 10,
	// in the event of an HTTP error, time in seconds before repeating the request
	retryDelay: 15
};

module.exports = config;